<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
    <context:property-placeholder location="classpath:musicPlayer.properties"></context:property-placeholder>
    <bean id="musicBeanRock"
          class="RockMusic">
    </bean>
    <bean id="musicBeanRap"
          class="RapMusic">
    </bean>
    <bean id="musicBeanClassic"
          class="ClassicalMusic"
          init-method="doMyInit"
          destroy-method="doMyDestroy"
          factory-method="getClassicalMusic"
          scope="singleton">
    </bean>
    <bean id="music" class="java.util.ArrayList">
        <constructor-arg>
            <list>
                <ref bean="musicBeanRock" />
                <ref bean="musicBeanRap" />
                <ref bean="musicBeanClassic" />
            </list>
        </constructor-arg>
    </bean>
    <bean id="playerBean"
          class="MusicPlayer"
          scope="prototype">
        <property name="music" ref="musicBeanRock"></property>
        <property name="name" value="${musicPlayer.name}"></property>
        <property name="volume" value="${musicPlayer.volume}"></property>
        <property name="musicList" ref="music"></property>
    </bean>

</beans>